@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<TrackingTask>
<table class="table">
    <thead>
        <tr>
            <td>@Localizer["TaskName"]</td>
            <td>@Localizer["TaskDesc"]</td>
            <td>@Localizer["Status"]</td>
            <td>@Localizer["Date1"]</td>
            <td>@Localizer["Date2"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="ShowUserTask" asp-route-id="@task.Id">@task.ShortDescription</a></td>
                <td>@task.LongDescription</td>
                <td>@task.status</td>
                <td>@task.dateOfTaking</td>
                <td>@task.dateOfFinishing</td>
                @if (task.status == "Выполняется")
                {
                    <td><a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="DeclineTask" asp-route-id="@task.Id">@Localizer["Cancel"]</a></td>
                }
            </tr>
        }
    </tbody>
</table>