@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model JobTrackingSystem.Models.TrackingTask
@{
    ViewData["Title"] = Localizer["ShowTask"];
}
<html>
<head>
    <title>@Localizer["ShowTask"]</title>
</head>
<body>
    <div>
        <ol class="list-group">
            <li>@Localizer["Task"]: @Model.ShortDescription</li>
            <li>@Localizer["TaskDesc"]: @Model.LongDescription</li>
            <li>@Localizer["WhoGave"]: @Model.whoGave.Nickname</li>
            <li>@Localizer["Date1"]: @Model.dateOfTaking</li>
            <li>@Localizer["Status"]: @Model.status</li>
            <li>@Localizer["WhoTake"]: @Model.whoTake?.Nickname</li>
            <li>@Localizer["Date2"]: @Model.dateOfFinishing</li>
            @if (User.IsInRole("Admin"))
            {
        <li>@Localizer["Comment"]:</li>
                <textarea cols="100" rows="10" readonly>@Model.Comment</textarea>
            }
        </ol>
        @if (User.IsInRole("Admin") && Model.status == "Обрабатывается")
        {
            <div>
                <a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Confirm" asp-route-id="@Model.Id">@Localizer["Confirm"]</a>
            </div>
            <div>
                <a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="Deny" asp-route-id="@Model.Id">@Localizer["Decline"]</a>
            </div>
        }

    </div>

    @*<div class="container">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">&nbsp;</div>
                <div class="col-6">
                    Message...<input type="text" id="messageInput" />
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">&nbsp;</div>
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>*@


<a class="btn btn-sm btn-default" asp-controller="Home" asp-action="Index">@Localizer["Back"]</a>
</body>
</html>