@model JobTrackingSystem.Models.TrackingTask
@{
    ViewData["Title"] = "Просмотр задания";
}
<html>
<head>
    <title>Просмотр задания</title>
</head>
<body>
    <div>
        <ol class="list-group">
            <li>Задание: @Model.ShortDescription</li>
            <li>Описание задания: @Model.LongDescription</li>
            <li>Кто выдал: @Model.whoGave.Nickname</li>
            <li>Дата выдачи: @Model.dateOfTaking</li>
            <li>Статус: @Model.status</li>
            <li>Кто выполняет: @Model.whoTake?.Nickname</li>
            <li>Дата завершения: @Model.dateOfFinishing</li>
            @if (User.IsInRole("Admin"))
            {
                <li>Комментарий:</li>
                <textarea cols="100" rows="10" readonly>@Model.Comment</textarea>
            }
        </ol>
        @if (User.IsInRole("Admin") && Model.status == "Обрабатывается")
        {
            <div>
                <a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Confirm" asp-route-id="@Model.Id">Одобрить</a>
            </div>
            <div>
                <a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="Deny" asp-route-id="@Model.Id">Отклонить</a>
            </div>
        }

    </div>
    <a class="btn btn-sm btn-default" asp-controller="Home" asp-action="Index">Назад на главную страницу</a>
</body>
</html>