@using JobTrackingSystem.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Просмотр задания";
}
<html>
<head>
    <title>Просмотр задания</title>
</head>
<body>
    <div>
        @foreach (var task in Model.trackingTasks)
        {
            <ol class="list-group">
                <li>Задание: @task.ShortDescription</li>
                <li>Описание задания: @task.LongDescription</li>
                <li>Кто выдал: @task.whoGave.Nickname</li>
                <li>Дата выдачи: @task.dateOfTaking</li>
                <li>Статус: @task.status</li>
                <li>Кто выполняет: @task.whoTake?.Nickname</li>
                <li>Дата завершения: @task.dateOfFinishing</li>
                @if (User.IsInRole("Admin"))
                {
                <li>Комментарий: @task.Comment</li>
            }
        </ol>
    }

    </div>
    <a class="btn btn-sm btn-default" asp-controller="Home" asp-action="Index">Назад на главную страницу</a>
</body>
</html>