@model IEnumerable<JobTrackingSystem.Models.TrackingTask>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Задания</title>
</head>
<body>
    <h3>Список заданий</h3>
    <table>
        <tr>
            <td>Задание</td>
            <td>Статус</td>
            <td>Кто выдал</td>
            <td>Дата выдачи</td>
            <td>Кто выполняет</td>
            <td>Дата завершения</td>
        </tr>
        @foreach (var task in Model)
        {
        <tr>
            <td>@task.taskName</td>
            <td>@task.status</td>
            <td>@task.whoGave</td>
            <td>@task.dateOfTaking</td>
            <td>@task.whoTake</td>
            <td>@task.dateOfFinishing</td>
        </tr>
        }
    </table>
</body>
</html>