@model JobTrackingSystem.Models.TrackingTask
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Задание </title>
</head>
<body>
    <div>
            <ol class="list-group">
                <li>Задание: @Model.ShortDescription</li>
                <li>Описание задания: @Model.LongDescription</li>
                <li>Кто выдал: @Model.whoGave.Nickname</li>
                <li>Дата выдачи: @Model.dateOfTaking</li>
                <li>Статус: @Model.status</li>
                <li>Кто выполняет: @Model.whoTake?.Nickname</li>
                <li>Дата завершения: @Model.dateOfFinishing</li>
            </ol>
            @if (Model.dateOfFinishing == null)
            {
                <a class="btn btn-sm btn-success" asp-controller="Home" asp-action="FinishTask" asp-route-id="@Model.Id">Завершить задание</a>
            }
            <a class="btn btn-sm btn-default" asp-controller="Home" asp-action="Index">Назад на главную страницу</a>
    </div>
</body>
</html>