@model JobTrackingSystem.Models.TrackingTask
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Задание </title>
</head>
<body>
    <div>
        <form asp-action="ShowUserTask" asp-controller="Home">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label ">Задание: @Model.ShortDescription</label><br />
                <input type="hidden" asp-for="ShortDescription" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label ">Описание задания: @Model.LongDescription</label><br />
                <input type="hidden" asp-for="LongDescription" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="whoGave" class="control-label ">Кто выдал: @Model.whoGave.Nickname</label><br />
                <input type="hidden" asp-for="whoGave" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="dateOfTaking" class="control-label ">Дата выдачи: @Model.dateOfTaking</label><br />
                <input type="hidden" asp-for="dateOfTaking" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label ">Статус: @Model.status</label><br />
                <input type="hidden" asp-for="status" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="whoTake" class="control-label ">Кто выполняет: @Model.whoTake.Nickname</label><br />
                <input type="hidden" asp-for="whoTake" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="dateOfFinishing" class="control-label ">Дата завершения: @Model.dateOfFinishing</label><br />
                <input type="hidden" asp-for="dateOfFinishing" class="form-control" />
            </div>
            @if (Model.dateOfFinishing != null)
            {
            <div class="form-group">
                <label asp-for="Comment" class="control-label ">Коментарий: @Model.Comment</label><br />
                <input type="hidden" asp-for="Comment" class="form-control" />

            </div>
            }
            @if (Model.dateOfFinishing == null)
            {
                <div class="form-group">
                    <label asp-for="Comment" class="control-label ">Коментарий:</label><br />
                    <textarea asp-for="Comment"></textarea>
                </div>
                <input type="submit" value="Завершить задание" class="btn btn-default" /><br />
            }
        </form>
        <a class="btn btn-sm btn-default" asp-controller="Home" asp-action="Index">Назад на главную страницу</a>
    </div>
</body>
</html>